<!DOCTYPE html>
<html>
<head>
    <title>Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>
<body>
    <h1>Survival Game</h1>
    <hr>
    <p id="output">Choose what you want to do!</p>
    <hr>
    <h3>Resource Gathering</h3>
    <div class="section">
        <button onclick="collectFiber()">Collect Plant Fiber</button>
        <button onclick="collectStick()">Collect Sticks</button>
        <button onclick="collectStone()">Collect Stones</button>
    </div>
    <hr>
    <div class="section">
        <button onclick="toggleInventory()">Show/Hide Inventory</button>
        <div id="inventory" style="display: none;"></div>
        <button onclick="toggleCrafting()">Crafting Menu</button>
        <div id="crafting" style="display: none;"></div>
    </div>
    <hr>


    <script src="{{ url_for('static', filename='game.js') }}"></script>
</body>
</html>