<!DOCTYPE html>
<html>
<head>
    <title>Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>
<body>
    <h1>Survival Game</h1>
    <button onclick="collectFiber()">Collect Plant Fiber</button><br><br>
    <button onclick="collectStick()">Collect Sticks</button><br><br>
    <button onclick="collectStone()">Collect Stones</button><br><br>
    <button onclick="craftRope()">Craft Rope (-10 Plant Fiber)</button><br><br>
    <button onclick="craftWoodenHandle()">Craft Wooden Handle (-4 Sticks, -2 Rope)</button><br><br>
    <button onclick="toggleInventory()">Show/Hide Inventory</button>
    <div id="inventory" style="display: none;"></div>
    <button onclick="toggleCrafting()">Toggle Crafting Menu</button>
    <div id="crafting" style="display: none;"></div>
    <p id="output"></p>

    <script src="{{ url_for('static', filename='game.js') }}"></script>
</body>
</html>